# created by virtualenv automatically
*.pdf
*.xml
*.txt
*.csv
*.ods
*.json
*.csv
*.txt
*.xml
.env
__pycache__/
bin/
lib/
pyvenv.cfg
!*output.json
/fine_tunning/results
/results
/fine_tunning/fine-tuned-model
/api/app/fine-tuned-model
/fine_tunning/log