# created by virtualenv automatically
*.pdf
*.xml
*.txt
*.csv
*.ods
*.json
__pycache__/
bin/
lib/
pyvenv.cfg
!*output.json
/fine_tunning/results
/fine_tunning/fine-tuned-model
/api/app/fine-tuned-model
