sentence-transformers
umap-learn
pandas
torch
BeautifoulSoup
beautifulsoup4
wordcloud
# Instalar torch_xla solo si se va a utilizar TPU
torch-xla==1.10; platform_machine == 'x86_64' and platform_system == 'Linux'