--index-url https://download.pytorch.org/whl/cu126
torch==2.6.*
torchvision==0.21.*
torchaudio==2.6.*
transformers
datasets
pandas
python-dotenv
packaging
ninja
setuptools
requests
pdfplumber
peft
wordcloud
chardet
bitsandbytes
tokenizers
#to make dataset finetunning not required
#beautifulsoup4

#only if tpu is used
#torch-xla==1.10; platform_machine == 'x86_64' and platform_system == 'Linux'

#for yanr and other models that requires flash attention
#flash-attn
#packaging

#for multiprocess gpu
#accelerate